:root {
    --productsup-red: #ed362b;
    --productsup-darkred: #d31d12;
    --productsup-blue: #1c4b70;
    --productsup-lightblue: #20c4f4;
    --productsup-grey: #f1f1f1;
    --productsup-dark: #354555;
    --productsup-green: #21B26F;
}
